{% extends "base.html" %}
{% block content %}
{% load static %}



<h1>User Profile</h1>
{{ page_user }}

 <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">

        {% if page_user.profile_pic %}
      <img src="{{ page_user.profile_pic.url }}" class="card-img" width=500 height=300 alt="profile pic">
        {% else %}
         <img src="{%static "theblog/images/Default_profile.jpg"  %}" class="card-img" width=200 height=250 alt="profile pic">

        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">Username: {{ page_user.user.first_name }}
                            {{page_user.user.last_name }}
        </h5>

</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}


