{% extends "base.html" %}
{% block content %}




<h1>Posts</h1>
<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>-{{ post.author.first_name }}
        {{ post.author.last_name }}<br/>

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            {{ post.body }}</li><small> -<a href="{% url "delete_post" post.pk %}
             ">Delete</a><hr>
            {% endif %}
{% endif %}
</small> <br/>
    {{ post.body|slice:":200" }}
{%  endfor %}
</ul>


{% endblock %}
